[Unit]
Description=API Quay Thuoc Khanh My
After=network.target

[Service]
ExecStart=/var/www/api.quaythuockhanhmy/bin/kmy
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60
User=root
Group=root
EnvironmentFile=/etc/environment
WorkingDirectory=/var/www/api.quaythuockhanhmy/bin

[Install]
WantedBy=multi-user.target